{% for prod in articles %}
{% set article = prod.getArticles.get(0) %}
<hr class="mb-4">             
<div class="row mb-4">
    <div class="col-md-5 col-lg-3 col-xl-3">
      <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
        <img class="img-fluid w-100" src="{{ asset(article.photo) }}" alt="Sample">
        <a href="#!">
          <div class="mask waves-effect waves-light">
            <img class="img-fluid w-100" src="{{ asset(article.photo) }}">
            <div class="mask rgba-black-slight waves-effect waves-light"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-7 col-lg-9 col-xl-9">
      <div>
        <div class="d-flex justify-content-between">
          <div>
            <h5>{{ article.titre }}</h5>
            <p class="mb-3 text-muted text-uppercase small">
                {{ article.description }}
            </p>
            <p class="mb-3 text-muted text-uppercase small">
                {{ article.prix |number_format(0,'.',' ') }} FCFA
            </p>
          </div>
          <div>
            <div class="def-number-input number-input safari_only mb-0 w-100 row">
              <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="btn btn-sm minus col-2"> <i class="fas fa-minus"></i></button>
              <input class="quantity col-5" min="0" name="quantity" value="{{ prod.qte }}" type="number">
              <button onclick="this.parentNode.querySelector('input[type=numbe]').stepUp()" class="btn btn-sm plus col-2"><i class="fas fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <a href="{{ path('profile_remove_items',{id:prod.id}) }}" type="button" class="card-link-secondary small text-uppercase mr-3"><i class="fas fa-trash-alt mr-1"></i> Retirer le produit </a>
          </div>
          <p class="mb-0"><span><strong>{{ (prod.qte * article.prix) |number_format(0,'.',' ') }} FCFA</strong></span></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}