
  {% for article in articles %}
  <div data-aos="zoom-in" class="col-sm-6 col-12 col-lg-3 col-md-4 mb-2">

    <!-- Card -->
    <div class="card card-ecommerce">

      <!-- Card image -->
      <div class="view overlay">

        <img src="{{ asset(article.photo) }}" class="img-fluid" alt="">

        <a>

          <div class="mask rgba-white-slight waves-effect waves-light"></div>

        </a>

      </div>
      <!-- Card image -->

      <!-- Card content -->
      <div class="card-body">

        <!-- Category & Title -->
        <h5 class="card-title mb-1"><strong><a href="{{ path('more',{id:article.id}) }}" class="dark-grey-text">{{ article.titre }} </a></strong></h5>
        <span class="badge badge-light mb-2">{{ article.prix }} FCFA</span>

        <!-- Rating -->
        <ul class="rating">
          {% for n in range(1, 5, 1) %}
			{% if n <= article.note %} &#9733; {% else %} &#9734; {% endif %} {% endfor %} </span>

        </ul>

        <!-- Card footer -->
        <div class="card-footer pb-0">

          <div class="row mb-0">
            <span class="float-right">
              <a href="{{ path('profile_add_to_panier',{id:article.id}) }}" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url( path('more',{id:article.id}) ) }}" target="_blank" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart"><i class="fab fa-facebook"></i></a>
            </span>

          </div>

        </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
      
  {% endfor %}