{% extends "base.html.twig" %}
{% block title %}
{{ article.titre }}
{% endblock %}
{% block body %}
<div class="row mt-2">
	<div class="col-md-6">
		<div class="card">
			<img class="card-img-top img-fluid" src="{{ asset(article.photo) }}" alt='{{ article.titre }}'>
			<div class="card-body">
				<span class="text-warning">
					{% for n in range(1, 5, 1) %}
					{% if n <= article.note %} &#9733; {% else %} &#9734; {% endif %} {% endfor %} </span>
						{{ article.note|number_format(1,'.','') }} étoiles
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h5>{{article.titre}}</h5>
		<div class="rating">
			<span class="text-warning">
				{% for n in range(1, 5, 1) %}
				{% if n <= article.note %} &#9733; {% else %} &#9734; {% endif %} {% endfor %} </span>
		</div>
		<h4>{{article.prix |number_format(0,'.',' ')}}FCFA </h4>
		<p>{{ article.description }}</p>
		<p><button type="button" class="btn btn-primary btn-md mr-1 mb-2 waves-effect waves-light rounded-pill">Acheter</button>
			<a href="{{ path('profile_add_to_panier',{id:article.id}) }}" class="btn btn-light btn-md mr-1 mb-2 waves-effect waves-light"><i
					class="fas fa-shopping-cart pr-2"></i>Ajouter au panier</a>
		</p>
	</div>

</div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Commentaire sur le produit
	</div>
	<div class="card-body">
		{% for note in article.notes %}
		<p>{{ note.commentaire }}</p>
		<span class="text-warning">
			{% for n in range(1, 5, 1) %}
			{% if n <= note.note %} &#9733; {% else %} &#9734; {% endif %} {% endfor %} </span>
				<small class="text-muted">{% if note.auteur %}
					Poster par {{ note.auteur.username }}
					{% else %}
					Auteur Anonyme
					{% endif %}</small>
				<hr>
				{% endfor %}

				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn primary-color-dark btn-sm rounded text-white">Commenter</button>
				{{ form_end(form) }}
	</div>
</div>
<!-- /.card -->


{% endblock %}