<h4><a href="{{ path('admin_formation_view',{'id':formation.id})}}">{{ formation.titre }}</a></h4>
<p>
    une nouvelle inscription de {{ inscription.nom }} a été enregistrerles coordonnée sont : <br> 
    <b>{{ inscription.tel }}</b> <br>
    <b>{{ inscription.whatsapp }} </b> <br>
    <b>{{ inscription.email }} </b>
</p>