<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ asset('font/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/main.css') }} ">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="{{ asset('mdb/css/mdb-pro.min.css') }}">
  <link rel="stylesheet" href="{{ asset('mdb/css/mdb.ecommerce.min.css') }}">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Custom styles for this template -->
  <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
  <script src="{{ asset('mdb/js/jquery-3.4.1.min.js') }}"></script>

</head>

<body>
  {% include "header.html.twig" %}

	{#% include "sidenave.html.twig" %#}
  <!-- Page Content -->
  <main>
    <div class="container">

      {% block body %}{% endblock %}
  
    </div>
  </main>
  <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include "footer.html.twig" %}
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ asset('mdb/js/popper.min.js') }}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ asset('mdb/js/mdb.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('mdb.ecommerce.min.js') }}"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript">
    {% for s in app.flashes('success') %}
    
    toastr.success('{{ s }}');
  
    {% endfor %}
  </script>

</body>

</html>